<form id="register_form" method="post" action="/users/new">
	<fieldset name="register">
	<legend>Register</legend>
	
	<p>
		<label for="register_username">Username</label>
		<input type="text" id="register_username" name="register_username"/>
	</p>
	<p>
		<label for="register_email">e_mail</label>
		<input type="text" id="register_email" name="register_email"/>
	</p>
	<p>
		<label for="register_password">Password</label>
		<input type="text" id="register_password" name="register_password"/>
	</p>
	<p>
		<label for="register_confirm_password">Confirm Password</label>
		<input type="text" id="register_confirm_password" name="register_confirm_password"/>
	</p>
	
	<input type="submit" id="submit_register" value="register"/>
	
	</fieldset>
</form>