<div class="region-statistics-container">
	<div id="datasets">
		<p><%=t('years').capitalize%>: 2009-2014</p>
		<div class="column-chart" id="Non-sexualcrimesofviolence"></div>
		<div class="column-chart" id="Sexualoffences"></div>
		<div class="column-chart" id="Crimesofdishonesty"></div>
		<div class="column-chart" id="Fire-raisingvandalismetc"></div>
		<div class="column-chart" id="Othercrimes"></div>
		<div class="column-chart" id="Miscellaneousoffences"></div>
		<div class="column-chart" id="Motorvehicleoffences"></div>
	</div>
</div>


<script>
	$(document).ready(function(){
	
	$.ajax({
		type: "GET",
		url: "/police_regions/all",
		dataType: "json",
		success: function(crimes) {
			createCompareColumnChart(crimes, "Non-sexual crimes of violence", translate);
			createCompareColumnChart(crimes, "Sexual offences", translate);
			createCompareColumnChart(crimes, "Crimes of dishonesty", translate);
			createCompareColumnChart(crimes, "Fire-raising, vandalism etc.", translate);
			createCompareColumnChart(crimes, "Other crimes", translate);
			createCompareColumnChart(crimes, "Miscellaneous offences", translate);
			createCompareColumnChart(crimes, "Motor vehicle offences", translate);
		}
	});
	
	});
</script>
