<script src="http://code.highcharts.com/highcharts.js"></script>

<p>
	Select dataset:
	<select class="dataset-selection">
		<option selected value="c&o period">Crimes and offences 2009-2014</option>
		<option value="c&o 2014">Crimes and offences 2014</option>
	</select>
</p>

<div id="datasets">
</div>


<%= javascript_tag do %>
  window.id = '<%= params[:id] %>';
<% end %>

<script type="text/javascript">
	
	$(document).ready(function() {
		changeChart(); //do every time file loads
		$(".dataset-selection").change(function() {
			changeChart();
		});
	});
	
	function changeChart() {
		var container = $("#datasets");
		container.empty();
		var selected = $(".dataset-selection").val();
		
		$.ajax({
			type: "GET",
			url: "/police_regions/"+window.id,
			dataType: "json",
			success: function(crimes) {
				switch(selected) {
					case "c&o period":
						container.append(''+
							'<div class="pie-chart" id="crimes-and-offences"></div>'+
							'<div class="pie-chart" id="crimes"></div>'+
							'<div class="pie-chart" id="violent"></div>'
						);
						createCrimesAndOffencesRegionPieChart(crimes, "all");
						createCrimeRegionPieChart(crimes, "all");
						createViolentRegionPieChart(crimes, "all");
						break;
					case "c&o 2014":
						container.append(''+
							'<div class="pie-chart" id="crimes-and-offences"></div>'+
							'<div class="pie-chart" id="crimes"></div>'+
							'<div class="pie-chart" id="violent"></div>'
						);
						createCrimesAndOffencesRegionPieChart(crimes, 2014);
						createCrimeRegionPieChart(crimes, 2014);
						createViolentRegionPieChart(crimes, 2014);
						break;
					default:
						console.log("something went wrong");
						break;
				}
			}
		});
	}
	
	
</script>
