
.logo  {
	float: right;
	width: 20px;
	height: 100%;
	margin-left: 10px;	
}

.logbox {
	font-size: 11px;
	margin: -15px 0px -15px 0px;
}

.logbox input {
	height: 22px;
}

.logbox p {
	margin: 2px 0px 2px 0px;
}

.row {
	min-width: 800px;
}
