.logo  {
	float: right;
	width: 20px;
	height: 100%;
	margin-left: 10px;	
}

.logbox {
	font-size: 11px;
	margin: -15px 0px -15px 0px;
}

.logbox input {
	height: 22px;
	float: right;
}

.logbox p {
	margin: 2px 0px 2px 0px;
}

.main-info {
	text-align: justify;
	text-justify: inter-word;
}

.row {
	min-width: 800px;
	padding: 0 5%;
}

#login-error {
	display: none;
	top: 60px;
	right: 15%;
	position: absolute;
	z-index: 10000;
	border: 1px groove red;
	background-color: #F8F8F8;
	padding: 5px;
	border-radius: 3px;
}

.flag {
	float: right;
	margin: 15px -9px 0px 10px;
}

.flag img {
	border: 1px solid black;
	width: 22px;
	height: 15px;
}

.articles {
	font-size: 12px;
	
	background-color: #89A5F2;
	padding: 0px 2px 0px 2px;
	border: 1px solid #E7E7E7;
	border-radius: 7px 7px 2px 2px;
	
	width: 200px;
	height: 250px;
	z-index: 100;
	
	position: fixed;
	right: 5px;
	bottom: 0px;
}

.articles h5 {
	text-align: center;
	margin: 3px 0px
}

.article h6, .article h6 a {
	font-weight: bold;
	font-size: 11px;
	color: black;
	text-decoration: underline;
}

.article p {
	margin-top: 0px;
	font-size: 10px;
	
	text-align: justify;
	text-justify: inter-word;
}

.article a {
	text-decoration: underline;
}

.article {
	padding: 0px 3px;
}

.articles .list {
	padding: 0px 2px;
	width: 98%;
	height: 220px;
	overflow: auto;
	background-color: white;
}
