.pie-chart {
	width: inherit; 
	height: 500px; 
	margin: 0 auto;
}

.column-chart {
	width: inherit; 
	height: 400px; 
	margin: 0 auto;
}

.region-statistics-container {
	width: 70%;
	margin: 0px auto;
}
