<%= stylesheet_link_tag 'map' %>
<div class="container-fluid" id="main">
<div class="row">
	<div class="col-xs-5" id="left">
		<div id="map-container"></div>
	</div>
	<div class="col-xs-5">
		<p class="main-info"><%=t'main'%>&nbsp;<a href="" id="select-region" style="display: none"><span id="selected-region">Please select region</span></a></p>
	</div>
</div>
</div>
<div class="articles">
	<h5><%=t'Articles on scottish crime'%></h5>
	<div class="list">
		<p><%=t'wait'%></p>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		createMap();
		
		var request = $.ajax({
			type: "GET",
			url: "/get_articles",
			dataType: "json",
			success: function(news) {
				var container = $(".articles div");
				container.empty();
				
				for (var i in news) {
					var article = "";
					article += '<div class="article">';
					article += '<h6><a href="'+news[i].url+'">'+news[i].title+"</a></h6>"	;				
					article += "<p>"+news[i].paragraph+'<a href="'+news[i].url+'">'+" Read more on: "+news[i].src+"</a></p>";	
					article += "</div>";		
					container.append(article);	
				}
			}
		});
		
	});
</script>

