<%= stylesheet_link_tag 'map' %>
<div class="container-fluid" id="main">
<div class="row">
	<div class="col-xs-6" id="left">
		<div id="map-container"></div>
	</div>
	<div class="col-xs-4">
		<p class="main-info"><%=t'main'%>&nbsp;<a href="" id="select-region" style="display: none"><span id="selected-region">Please select region</span></a></p>
	</div>
</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		createMap();
	});
</script>
